.header {
  display: grid;
  grid-template-columns: 2fr max-content 2fr;
  place-items: center stretch;
  padding-top: 11px;
}

.header__menu {
  padding: 126px 19px 110px 33px;
}

.header__links-list {
  display: flex;
  justify-content: space-around;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 21.13px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header__logo {
  display: block;
  max-width: 148px;
  max-height: 105px;
  padding: 5px 5px 2px 6px;
}

.address {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-decoration: none;
  text-underline-offset: 3px;
}

.header__address {
  padding: 16px 0 1px 187px;
}

.cover {
  position: relative;
  z-index: 1;
  min-width: 1100px;
  margin-top: 24px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
  background-position: center;
}

.cover__title {
  position: relative;
  z-index: 3;
  padding: 166px 0 0 50px;
  color: #fff;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 31px;
  text-transform: uppercase;
}

.aligned-text {
  display: flex;
  justify-content: start;
  gap: 28px;
  padding-bottom: 12px;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding-right: 78px;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  gap: 28px;
  padding: 4px 18px 0 0;
}

.cover__description {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 129px 50px 51px 75px;
}

.cover__description-text {
  padding: 13px 0 0 2px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: solid 1px #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
}

.lots__heading {
  margin: 179px 0px 0px 64px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 27px 23px 28px 25px;
}

.lots__card-list-item {
  min-width: 334px;
  min-height: 563px;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-between;
  max-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 3;
  padding: 50px 30px 0 39px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-align: left;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 3;
  padding: 1px 39px 50px 39px;
  color: #fff;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding: 0 0 1px 63px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: stretch;
  column-gap: 19px;
  margin-top: 182px;
  padding-left: 70px;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
}

.about__logo {
  max-width: 240px;
  max-height: 240px;
  border: solid 4px #000;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  padding: 59px 40px 6px 45px;
}

.about__title {
  padding: 0 0 75px 41px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1px 26px 0 42px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 181px 0 88px 51px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 57px 0 6px;
}

.footer__menu-list-item {
  font-size: 18px;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 11px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  max-width: 48px;
}
